<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>記事投稿</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div class="col-8">
				<h1>記事投稿</h1>
				<form role="form" th:action="@{/blog/confirm}" th:object="${blogForm}"
					method="POST">
					<div>
						<h2>タイトル</h2>
						<textarea id="title" name="title" th:field="*{title}" placeholder="記事のタイトルを入力して下さい。" class="form-control"></textarea>
						<div th:if="${#fields.hasErrors('title')}">
						  <span th:errors="*{title}"></span>
						</div>
					</div>
					<div>
						<h2>投稿内容</h2>
						<textarea id="content" name="content" th:field="*{content}" placeholder="投稿内容を入力して下さい。" class="form-control" rows="10"></textarea>
						<div th:if="${#fields.hasErrors('content')}">
						  <span th:errors="*{content}"></span>
						</div>
					</div>
					<button role="button" class="btn btn-primary">確認</button>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>
</body>
</html>