<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<style>
		body{
		    background: linear-gradient( 130deg, rgba(250, 112, 154, 0.5), rgba(254, 225, 64, 0.5)),
		    url([[@{/images/bg.jpg}]]) no-repeat center center fixed;
		    background-size: cover;
		}
	</style>
</head>
<body>
	<div class="min-vh-100 text-center align-middle m-auto text-light">
		<h1>Welcome to my Home page!</h1>
		<p>
			<a href="/blog" style="color: white;">Blog</a>
		</p>
	</div>
</body>
</html>